﻿@page "/settings"
@using Temblar.Client.Shared
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject Temblar.Client.Services.AuthorizationService authService
@inject Temblar.Client.Services.SourceService sourceService
@inject Temblar.Client.Services.TemblarAppState appState

<Animate Animation="Animations.FadeLeft" Duration="TimeSpan.FromSeconds(0.2)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <SubHeader Title="Tjenester"></SubHeader>
                    <SubscriptionList Subscriptions=@appState.subscriptions />
                </div>
            </div>
        </div>
    </div>
</Animate>
@code{

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await appState.loadTemblarAppState();

            await sourceService.GetAllSources();

            await authService.AuthorizeMe();

            if (appState.temblarUser != null)
            {
                await sourceService.GetAllSubscribedResources(appState.temblarUser.Id);

                if (appState.personalSubscriberDTO != null)
                {
                    appState.subscriptions = new HashSet<KeyValuePair<string, Boolean>>();
                    appState.sources.ForEach(item => appState.subscriptions.Add(new KeyValuePair<string, Boolean>(item, appState.personalSubscriberDTO.SubscribedSources.Contains<string>(item))));
                }
            }

            await appState.setTemblarAppState();

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }


    private async void Toggle(bool toggled, string source)
    {
        if (toggled)
        {
            try
            {
                await sourceService.SubscribeSourceSubscription(appState.temblarUser.Id, source);

            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
        else
        {
            try
            {
                await sourceService.UnsubscribeSourceSubscription(appState.temblarUser.Id, source);

            }
            catch (Exception e)
            {
                Console.WriteLine(e.Message);
            }
        }
    }

}