﻿@inject IJSRuntime JSRuntime
@inject NavigationManager navigation
<AuthorizeView>
    <Authorized>
        <nav class="fixed-bottom py-1" style="height: 8vh;">
            <div class="nav-container justify-content-around align-items-center">

                <a class="nav-item d-flex flex-column w-25  mb-2 @(archive ? "active" : "")" style="text-align:center;" href="archive">
                    <i class="nav-item-icon fas fa-archive" />
                    <span class="nav-item-text">Arkiv</span>
                </a>

                <a class="nav-item d-flex flex-column w-25  mb-2 @(index ? "active" : "")" style="text-align:center;" href="/">
                    <i class="nav-item-icon fas fa-bell" />
                    <span class="nav-item-text">Notifikasjoner</span>
                </a>

                <a class="nav-item d-flex flex-column w-25  mb-2 @(settings ? "active" : "") footer-icons" style="text-align:center;" href="settings">
                    <i class="nav-item-icon fas fa-cog " />
                    <span class="nav-item-text">Innstillinger</span>
                </a>
            </div>
        </nav>
    </Authorized>
</AuthorizeView>
@code {
    public bool archive { get; set; }
    public bool index { get; set; }
    public bool settings { get; set; }

    protected override void OnInitialized()
    {
        navigation.LocationChanged += LocationChanged;
        SetActive(navigation.Uri.Replace(navigation.BaseUri, ""));
        base.OnInitializedAsync();
    }

    private void LocationChanged(Object sender, LocationChangedEventArgs e)
    {
        SetActive(navigation.Uri.Replace(navigation.BaseUri, ""));
        StateHasChanged();
    }

    private void SetActive(string url)
    {
        if (url.Contains("archive"))
        {
            HandleClickArchive();
        }
        else if (url.Contains("settings"))
        {
            HandleClickSettings();
        }
        else if(url == "")
        {
            HandleClickIndex();
        }
    }

    private void HandleClickArchive()
    {

        archive = true;
        settings = false;
        index = false;

    }
    private void HandleClickIndex()
    {

        index = true;
        settings = false;
        archive = false;

    }
    private void HandleClickSettings()
    {

        settings = true;
        archive = false;
        index = false;

    }
}
