﻿@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject Temblar.Client.Services.StorageService storageService
@using Blazored.Toast
@using Blazored.Toast.Services
@using Blazored.Toast.Configuration
@inject IToastService toastService

<div class="sign-in-box">

    <p class="h1 sign-in-header">Temblar </p>
    <p class="sign-in-label">Sign in with your work account</p>
    <button class="sign-in-button" @onclick="LoginWithAd">Sign in with Microsoft</button>
    <div id="sign-in-box-rectangle"></div>
</div>


@code {
    [JSInvokable]
    protected override async Task OnInitializedAsync()
    {
      
        try
        {
            // Checks if Id token is already set in local storage
            if (await storageService.SetTokenFromLocalToSession())
            {
                Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }

    public void LoginWithAd()
    {
        Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");

    }
}


