﻿@inject Temblar.Client.Services.TemblarAppState appState
@inject IJSRuntime JSRuntime
@inject NavigationManager navigation

<div class="shadow-sm py-2 mb-1 bg-white text-center">
    @if (appState.isLoading)
    {
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    else if (Title == "Notifikasjoner")
    {
        <div class="d-flex justify-content-between align-items-center">
            <h1 class=" h1-notification font-weight-bold m-0">@Title</h1>
            <button @onclick=@HandleArchiveAllClicked class="btn btn-sm btn-danger my-0 px-2">@(MultipleSelectEnabled ? "Arkiver" : "Arkiver alle")</button>
        </div>
        @if (appState.errorMessage != "")
        {
            <small class="text-danger">@appState.errorMessage</small>
        }
    }
    else if (Title == "Arkiv")
    {
    <div class="d-flex justify-content-between align-items-center">
        <button @onclick=@HandlePrevClicked class="btn btn-sm btn-danger my-0" disabled="@(Index <= 0)">&lt;</button>
        <h1 class=" h1-notification font-weight-bold m-0">@Title (@(Index + 1)/@(LastPage + 1))</h1>
        <button @onclick=@HandleNextClicked class="btn btn-sm btn-danger my-0" disabled="@(Index >= LastPage)">&gt;</button>
    </div>
    }
    else
    {
        <h1 class="text-center font-weight-bold m-0">@Title</h1>

    }
</div>
@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public int LastPage { get; set; }

    [Parameter]
    public EventCallback OnArchiveAllClicked { get; set; }

    [Parameter]
    public EventCallback<int> StateChanged { get; set; }

    [Parameter]
    public bool MultipleSelectEnabled { get; set; }

    public async Task HandleArchiveAllClicked()
    {
        bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", MultipleSelectEnabled ? "Arkiver valgte notifikasjoner?" : "Arkiver alle notifikasjoner?");
        if (confirmed)
        {
            await OnArchiveAllClicked.InvokeAsync(confirmed);
        }
    }

    private void HandleNextClicked()
    {
        navigation.NavigateTo("/archive/" + (Index + 1));
        StateChanged.InvokeAsync(Index + 1);
    }

    private void HandlePrevClicked()
    {
        navigation.NavigateTo("/archive/" + (Index - 1));
        StateChanged.InvokeAsync(Index - 1);
    }
}
